// Colors
$main-color: #d0b8ac;
$main-color-50: rgba(208,184,172, 0.5);
$second-color: #f3d8c7;
$third-color: #efe5dc;
$annexe-color: #96694D;
$annexe-color-hover: #BC8360;
$background-color: #f5f5f5;

// Margins
$margin-s: 20px;
$margin: 40px;
$margin-l: 60px;
$margin-xl: 80px;
$margin-xll: 100px;

// Padding
$padding-s: 10px;
$padding: 20px;
$padding-l: 40px;
$padding-xl: 60px;
$padding-xll: 80px;