/* You can add global styles to this file, and also import other style files */

/* Variables */

//font

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


// Colors
$main-color: #336699;
$main-color-50: rgba(51, 102, 153, 0.5);
$second-color: #86BBD8;
$third-color: #2F4858;
$annexe-color: #96694D;
$annexe-color-hover: #BC8360;

// Margins
$margin-s: 20px;
$margin: 40px;
$margin-l: 60px;
$margin-xl: 80px;
$margin-xll: 100px;

// Padding
$padding-s: 10px;
$padding: 20px;
$padding-l: 40px;
$padding-xl: 60px;
$padding-xll: 80px;


body {
  font-family: 'Roboto', sans-serif;
  background-color: $main-color;
  margin: initial;
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
}



.backgroundColor {
  background-color: $main-color-50;
}




h1 {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: $padding ;
  padding-bottom: $padding;
}

h2,
h3 {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: $padding;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  margin: $margin-s auto;

  .content {
    display: grid;
    grid-template-columns: repeat(1, 100%);
  }
}

.section {
  padding: $padding $padding-s;
  margin-left: auto;
  margin-right: auto;
}



.section-div {

>  p {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: $padding ;
    padding-bottom: $padding;
    line-height: 25px;
  }
}

.btn {
  background-color: $annexe-color;
  padding: $padding-s $padding-l;
  border-radius: 5px;
  box-sizing: border-box;
  display: inline-block;
}

.btn:hover {
  background-color: $annexe-color-hover;
}

a {
  text-decoration: none;
  color: white;
}

.home-icon {
  margin-bottom: $margin-s;
}

/* Téléphones moyens à grands (portrait et paysage) */
@media (min-width: 481px) {}

/* Tablettes (portrait) */
@media (min-width: 768px) {
  .container {

    .content {
      display: grid;
      grid-template-columns: repeat(2, 40%);
      justify-content: center;
    }

  }
}

/* Tablettes (paysage) */
@media (min-width: 992px) {
  .container {

    .section {
      .section-div {
        width: 920px;
        margin-left: auto;
        margin-right: auto;
      }
    }

    .content {
      display: grid;
      grid-template-columns: repeat(3, 240px);
      justify-content: center;
    }
  }
}

/* Styles pour ordinateurs portables */
@media (min-width: 1200px) {

  .container {
  
      .section {
        .section-div {
          width: 1120px;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }

}

/* Styles pour grands écrans (desktop) */
@media (min-width: 1440px) {}




@media (min-width: 1024px) {}

@media (min-width: 1440px) {

  // .section-div {
  //   margin-left: 210px;
  //   margin-right: 210px;

  //   p {
  //     margin-top: 0;
  //     margin-bottom: 0;
  //     padding-top: $padding ;
  //     padding-bottom: $padding;
  //   }
  // }
}


@media (min-width: 1920px) {}