<div class="container">
    <section>
        <a class="menu desktop" [routerLink]="'/'"> <fa-icon [icon]="faHouse"></fa-icon></a>

        <div>
            <h2>Hard Skill</h2>
            @for (skill of skills; track $index) {
            @if (skill.hardSkill == true) {
            <ui-card>
                <h3>{{skill.name}}</h3>
            </ui-card>
            }
            }
        </div>
        <div>
            <h2> Soft Skill</h2>

            @for (skill of skills; track $index) {
            @if (skill.hardSkill == false) {
            <ui-card>
                <h3>{{skill.name}}</h3>
            </ui-card>
            }
            }

        </div>


    </section>
</div>