<div class="container">
    <section>
        <div class="home-icon">
            <a [routerLink]="'/'"> <fa-icon [icon]="faHouse"></fa-icon></a>
        </div>
        <h2>Compétences</h2>
        <div>
            <h3>Hard Skill</h3>
            @for (skill of skills; track $index) {
            @if (skill.hardSkill == true) {
            <ui-card>
                <h4>{{skill.name}}</h4>
            </ui-card>
            }
            }
        </div>
        <div>
            <h3> Soft Skill</h3>

            @for (skill of skills; track $index) {
            @if (skill.hardSkill == false) {
            <ui-card>
                <h4>{{skill.name}}</h4>
            </ui-card>
            }
            }

        </div>


    </section>
</div>