@use '../variables.scss' as *;



header {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}



.div-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: $padding-s ;

}




.main-nav {
  padding: $padding-s ;

  h1 {
    text-align: center;
  }

  div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: $padding-s ;
  }
}


.menu {
  text-transform: uppercase;
  cursor: pointer;

  span {
    display: none;
  }
}

.title {
  font-size: 15px;
  text-transform: uppercase;
  border: solid white 1px;
  padding: $padding $padding-l;
}

.profil {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.desktop {
  display: none;
}




// /* Overlay de la modale */
.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.menu-overlay.active {
  display: flex;
  opacity: 1;
}

// /* Contenu du menu */
.menu-content {
  color: black;
  background-color: $main-color;
  width: 80%;
  max-width: 400px;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  z-index: 99;
  position: relative;

  a {
    color: black !important;
  }

  h2 {
    padding: 0px;
  }
}


.menu-content ul {
  list-style: none;
  padding: 0;
}

.menu-content li {
  margin: 10px 0;
}

.menu-content a {
  text-decoration: none;
  font-size: 18px;
  color: #333;
  transition: color 0.3s;
}

.menu-content a:hover {
  color: #007bff;
}

/* Bouton de fermeture */
.close-btn {
  position: absolute;
  max-width: 25px;
  right: 2%;
  top: 0%;
  cursor: pointer;
}

.close-btn:hover {
  color: #ff0000;
}



footer {
  color: black;
  padding-bottom: $padding-s;
  padding-top: $padding-s;
  background-color: $main-color;
  font-weight: bold;

  a {
    color: black;
  }
}



/* Téléphones moyens à grands (portrait et paysage) */
@media (min-width: 481px) {}

/* Tablettes (portrait) */
@media (min-width: 768px) {}

/* Tablettes (paysage) */
@media (min-width: 992px) {
  .main-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 920px;
    margin-left: auto;
    margin-right: auto;

    div {
      display: none;

    }
  }

  .div-footer {
    width: 920px;
    margin-left: auto;
    margin-right: auto;
  }

  .desktop {
    display: block;
  }

  .mobile {
    display: none;
  }

}

/* Styles pour ordinateurs portables */
@media (min-width: 1024px) {
  .headerBackground {
    background-image: url("/images/navBackground.webp");
    height: 890px;
    background-position: center;
  }

  .desktop {
    display: block;
  }

  .mobile {
    display: none;
  }

  .main-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 920px;
    margin-left: auto;
    margin-right: auto;

    div {
      display: none;

    }
  }

  .div-footer {
    width: 920px;
    margin-left: auto;
    margin-right: auto;
  }

  .profil {
    height: 60px;
    width: 60px;
  }

  .title {
    font-size: 36px;
    text-transform: uppercase;
    border: solid white 1px;
    padding: $padding $padding-l;
  }




}

/* Styles pour ordinateurs portables */
@media (min-width: 1200px) {
  .main-nav {
    width: 1120px;
  }

  .div-footer {
    width: 1120px;
  }


}



/* Styles pour grands écrans (desktop) */
@media (min-width: 1440px) {

  .headerBackground {
    background-position: auto;
  }




  .profil {
    height: 80px;
    width: 80px;

  }




}