// Margins
$margin-s: 20px;
$margin: 40px;
$margin-l: 60px;
$margin-xl: 80px;
$margin-xll: 100px;

// Padding
$padding-s: 10px;
$padding: 20px;
$padding-l: 40px;
$padding-xl: 60px;
$padding-xll: 80px;



.headerBackground
{
background-image: url("/images/navBackground.webp");
  height: 890px;
}
.menu{
  text-transform: uppercase;
}
.title{
   font-size: 36px;
  text-transform: uppercase;
  border: solid white 1px;
  padding: $padding $padding-l;

}

.profil{
  height: 80px;
  width: 80px;
  border-radius: 50%;
}
