<header class="headerBackground">
    <div class="backgroundColor">
      <div class="menu-overlay" [class.active]="isMenuOpen" (click)="closeMenuModale()">
        <div class="menu-content">
          <a class="close-btn" (click)="closeMenuModale()">×</a>
          <h2>Menu</h2>
          <ul>
            <li><a routerLink="/" (click)="closeMenuModale()">Accueil</a></li>
            <li><a routerLink="/competences" (click)="closeMenuModale()">Compétence </a></li>
            <li><a routerLink="/diplomes" (click)="closeMenuModale()">Diplômes</a></li>
            <li><a routerLink="/loisirs" (click)="closeMenuModale()">Loisirs</a></li>
            <li><a routerLink="/realisations" (click)="closeMenuModale()">Réalisations</a></li>
          </ul>
        </div>
      </div>

      <nav>
      <a class="menu" (click)="openMenu()" > <fa-icon [icon]="faBars"></fa-icon> menu</a>
      <h1 class="title">PortFolio Olivier Blanc</h1>
      <img class="profil" src="/images/photo.webp" alt="photo profil">
    </nav>
    </div>
</header>


<router-outlet />


<footer>
  <div class="div-footer">
    <a>Contact</a>
    <a><img src="/svg/linkedin.svg"></a>
  </div>
</footer>
