
.primary-section{
  background-color: #2F4858 ;
  .section-div{
    div{
      text-align: center;
    }
  }
}

.infos{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  gap: 20px;
}

.info{
  width: 80%;
  background-color: #86BBD8;
  padding: 10px;
  border-radius: 5px;
  margin: 20px auto;
}


// .primary-section{
//   .section-div{
//     div{
//       text-align: center;
//     }
//   }
// }

// @media (max-width: 1300px) {
//   .info{
//     width: 300px;
//     background-color: #86BBD8;
//     margin: 20px auto;
//     padding-top: 10px;
//     padding-bottom: 20px;
//     border-radius: 5px;
//   }

// }
/* Téléphones moyens à grands (portrait et paysage) */
@media (min-width: 481px) {}

/* Tablettes (portrait) */
@media (min-width: 768px) {}

/* Tablettes (paysage) */
@media (min-width: 992px) {}

/* Styles pour ordinateurs portables */
@media (min-width: 1024px) {
.info {
    width: 45%;

  }
    .container {
      margin: 0px;
    
    }
}

/* Styles pour grands écrans (desktop) */
@media (min-width: 1440px) {

 



}