<section class="home-section primary-section">
  <div class="section-div">
    <h1>Blanc Olivier développeur Front </h1>
    <p>Lorem ipsum dolor sit amet consectetur. Eu cras in gravida nunc arcu fringilla rutrum amet sit. Cursus morbi
      nunc odio ut volutpat a mi a. Elit sed scelerisque auctor diam sit quisque aenean sed. Eget massa erat magna
      nunc cursus metus.</p>
  </div>

</section>

<section class="home-section secondary-section">
  <div class="section-div">
    <div>
      <h2></h2>
      <a></a>
    </div>

    <div>
      <h2></h2>
      <a></a>
    </div>

    <div>
      <h2></h2>
      <a></a>
    </div>

    <div>
      <h2></h2>
      <a></a>
    </div>

  </div>
</section>
