
<div class="container container-home">
  <section class="section primary-section">
    <div class="section-div">
      <h2>Blanc Olivier Développeur web et web mobile</h2>
      <p class="hook">J'aime explorer de nouvelles façons de travailler ce qui correspond parfaitement à l'état d'esprit des
        développeurs.
        Tous les jours ce métier exige la maîtrise de nouveaux logiciels et langages informatiques.
      </p>
      <div>
        <div class="btn contact"><p>Contactez moi : olbc42&#64;gmail.com </p> <fa-icon [icon]="faEnvelope "> </fa-icon></div>
        

      </div>
    </div>

  </section>

  <section class="section secondary-section">
    <div class="section-div infos">
      <div class="info">
        <h3>Diplômes</h3>
        <a routerLink="/diplomes" class="btn btn-link">En savoir plus </a>
      </div>

      <div class="info">
        <h3>Compétences</h3>
        <a routerLink="/skill" class="btn btn-link">En savoir plus </a>
      </div>

      <div class="info">
        <h3>Réalisation</h3>
        <a routerLink="/realisations" class="btn btn-link">En savoir plus </a>
      </div>

      <div class="info">
        <h3>Loisirs</h3>
        <a routerLink="/loisirs" class="btn btn-link">En savoir plus </a>
      </div>

    </div>
  </section>

</div>