<section class="home-section primary-section">
  <div class="section-div">
    <h2>Blanc Olivier Développeur Front</h2>
    <p>Lorem ipsum dolor sit amet consectetur. Eu cras in gravida nunc arcu fringilla rutrum amet sit. Cursus morbi
      nunc odio ut volutpat a mi a. Elit sed scelerisque auctor diam sit quisque aenean sed. Eget massa erat magna
      nunc cursus metus.</p>
   <div><a class="btn btn-contact">Contact</a></div>
  </div>

</section>

<section class="home-section secondary-section">
  <div class="section-div infos">
    <div class="info">
      <h3>Diplômes</h3>
      <a routerLink="/diplomes" class="btn">En savoir plus </a>
    </div>

    <div  class="info">
      <h3>Compétences</h3>
      <a  routerLink="/skill" class="btn">En savoir plus </a>
    </div>

    <div  class="info">
      <h3>Réalisation</h3>
      <a  routerLink="/realisations" class="btn">En savoir plus </a>
    </div>

    <div  class="info">
      <h3>Loisirs</h3>
      <a  routerLink="/loisirs" class="btn">En savoir plus </a>
    </div>

  </div>
</section>
