@use '../../../variables.scss' as *;




.primary-section {
  background-color: $main-color;
  color: black;

  .section-div {
    text-align: center;
    div {
      text-align: center;
    }
  }
}

.container {
  margin: 0px auto;
}



.infos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  gap: 20px;
}

.info {
  width: 80%;
  background-color: #ffffff;
  padding: $padding;
  border-radius: 5px;
  margin: $margin-s auto;
  color: black;
}

.contact {
  display: flex;
  flex-direction: row;
  align-items: center;

  p {
    margin: 0px;
  }
}



/* Téléphones moyens à grands (portrait et paysage) */
@media (min-width: 375px) {
  .contact {
    width: 350px;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
      margin-right: auto;
  }
}

/* Tablettes (portrait) */
@media (min-width: 768px) {
    .contact {
        width: 360px;

      }
}

/* Tablettes (paysage) */
@media (min-width: 992px) {}

/* Styles pour ordinateurs portables */
@media (min-width: 1024px) {
  .info {
    width: 45%;

  }

  .container {
    margin: 0px;

  }

  .container-home {
    padding: 0px;
  }
        .contact {
          color: white;
        }
    
        .hook {
          font-size: 30px;
          line-height: 40px;
          margin-top: $margin-s;
          margin-bottom: $margin-s;
        }
    
        .section-div {
          h2 {
            font-size: 35px;
          }
        }
}

/* Styles pour grands écrans (desktop) */
@media (min-width: 1440px) {





}

.btn-link{
  background-color: #634532;
}