@use '../../../variables' as *;

        .menu {
            display:grid;
            grid-template-columns: repeat(2, 1fr);
            width: 100%;
            justify-content: space-between;
            padding-left: 0;
                        align-items: baseline;
           .home-icon{
            text-align: center;
           }
            li {
                list-style: none;
                width: 120px;
                text-align: center;
                background-color: white;
                color: black;
                margin: $margin-s auto;
                border-radius: 5px;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                -ms-border-radius: 5px;
                -o-border-radius: 5px;
                padding: $padding-s;
                box-shadow: 5px 5px 5px black;
    
                &:hover {
                    transform: scale(1);
                    animation: pulse 2s infinite;
                }
            }
    
        }



@media (min-width: 768px) {

    .menu {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;
            justify-content: space-between;
            padding-left: 0;
            align-items: baseline;
    
            li {
                list-style: none;
                width: 120px;
                text-align: center;
                background-color: white;
                color: black;
                margin: $margin-s auto;
                border-radius: 5px;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                -ms-border-radius: 5px;
                -o-border-radius: 5px;
                padding: $padding-s;
                box-shadow: 5px 5px 5px black;
    
                &:hover {
                    transform: scale(1);
                    animation: pulse 2s infinite;
                }
            }
    
        }
}




@keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}