
:host {
    flex: 1;
}


.work-in{
    text-align: center;
    font-size: 50px;
}



    span {
            font-weight: bold;
        }
    



.realization-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    img{
        max-width: 102px;
    }
}