<div class="container">
    <section class="section">
        <div class="section-div">
            <div class="home-icon">
                <a [routerLink]="'/'"> <fa-icon [icon]="faHouse"></fa-icon></a>
            </div>
            <h1>Réalisation</h1>


            @for (realization of realizations; track $index) {
            <a target="_blank" href="{{realization.urlSite}}">
                <ui-card size="card-realization">
                    <div class="realization-title">
                        <h2>{{realization.name}}</h2>
                        <img src="{{realization.iconProjet}}" alt="">
                    </div>
                    <div>
                        @if(realization.langage.length === 1){
                        <p> <span>Langage</span> :@for (language of realization.langage; track $index) {
                            {{language}}
                            } </p>
                        }@else {
                        <p> <span>Langages</span> :@for (language of realization.langage; track $index) {
                            {{language}},
                            } </p>
                        }
                    </div>
                    <div>
                        <p> <span>Statut</span>  : {{realization.status}}</p>
                        <p>{{realization.description}}</p>
                    </div>
                </ui-card>
            </a>

            }
        </div>

    </section>
</div>